<section class="section theme" id="teams">
    <div class="title">
      <h1>My Teams</h1>
    </div>

    <div class="teams-center container">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="team">
                <div class="img-cover">
                  <img src="assets/images/profile1.jpg" alt="" />
                </div>
                <h3>Someone name</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Libero, quo?
                </p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="team">
                <div class="img-cover">
                  <img src="assets/images/profile2.jpg" alt="" />
                </div>
                <h3>Someone name</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Libero, quo?
                </p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="team">
                <div class="img-cover">
                  <img src="assets/images/profile3.jpg" alt="" />
                </div>
                <h3>Someone name</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Libero, quo?
                </p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="team">
                <div class="img-cover">
                  <img src="assets/images/profile4.jpg" alt="" />
                </div>
                <h3>Someone name</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Libero, quo?
                </p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="team">
                <div class="img-cover">
                  <img src="assets/images/profile3.jpg" alt="" />
                </div>
                <h3>Someone name</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Libero, quo?
                </p>
              </div>
            </li>
            <li class="glide__slide">
              <div class="team">
                <div class="img-cover">
                  <img src="assets/images/profile5.jpg" alt="" />
                </div>
                <h3>Someone name</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Libero, quo?
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>