<section class="section theme" id="services">
    <div class="title">
      <h1>My Services</h1>
    </div>

    <div class="services-center container">
      <div class="service" data-aos="fade-down" data-aos-duration="2000">
        <span><i class="fab fa-accusoft"></i></span>
        <h2>Web Design</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          exercitationem numquam porro asperiores neque architecto.
        </p>
      </div>

      <div class="service" data-aos="fade-up" data-aos-duration="2000">
        <span><i class="fas fa-chart-line"></i></span>
        <h2>Advertising</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          exercitationem numquam porro asperiores neque architecto.
        </p>
      </div>

      <div class="service" data-aos="fade-down" data-aos-duration="2000">
        <span><i class="fas fa-blender-phone"></i></span>
        <h2>Apps Design</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          exercitationem numquam porro asperiores neque architecto.
        </p>
      </div>
      <div class="service" data-aos="fade-up" data-aos-duration="2000">
        <span><i class="fas fa-blender-phone"></i></span>
        <h2>Development</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          exercitationem numquam porro asperiores neque architecto.
        </p>
      </div>
    </div>
  </section>