<section class="section skills" id="skills">
    <div class="title">
      <h1>My Skills</h1>
    </div>

    <div class="skills-center container">
      <div class="skills-left" data-aos="fade-right" data-aos-duration="2000">
        <div class="skills-box">
          <h4>Java</h4>
          <div class="skills-ilt">
            <div class="skills-bar java"></div>
            <span>90%</span>
          </div>
        </div>
        <div class="skills-box">
          <h4>JavaScript / Angular 6+ / TypeScript</h4>
          <div class="skills-ilt">
            <div class="skills-bar angular"></div>
            <span>90%</span>
          </div>
        </div>
        <div class="skills-box">
          <h4>Data Structure / Algorithm</h4>
          <div class="skills-ilt">
            <div class="skills-bar dsa"></div>
            <span>85%</span>
          </div>
        </div>
        <div class="skills-box">
          <h4>MySQL / Oracle / Postgres / MongoDB</h4>
          <div class="skills-ilt">
            <div class="skills-bar db"></div>
            <span>85%</span>
          </div>
        </div>

        <div class="skills-box">
          <h4>AWS / Cloud</h4>
          <div class="skills-ilt">
            <div class="skills-bar aws"></div>
            <span>50%</span>
          </div>
        </div>

        <div class="skills-box">
          <h4>Python</h4>
          <div class="skills-ilt">
            <div class="skills-bar python"></div>
            <span>60%</span>
          </div>
        </div>

        <div class="skills-box">
          <h4>Html / CSS</h4>
          <div class="skills-ilt">
            <div class="skills-bar htmlcss"></div>
            <span>80%</span>
          </div>
        </div>
      </div>

      <div class="right" data-aos="fade-left" data-aos-duration="2000">
        <h3>My creative skills and experience</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
          tempora distinctio sed. Animi, doloribus est. Suscipit praesentium
          tenetur libero eos! Suscipit voluptatem qui, nulla accusantium
          deleniti nam recusandae officiis possimus at voluptate cupiditate
          soluta nostrum deserunt consequuntur, ut quis eligendi? Quidem et
          doloremque cupiditate veniam optio corporis voluptatum, animi nemo!
        </p>
        <a href="#" class="btn">Read more</a>
      </div>
    </div>
  </section>